.video-container {
  background-color: white;
  padding: 1%;
  margin: 3%;
  border: 1px solid black;
  text-align: center;
}

.display-row {
  text-align: center;
}

.display {
  margin: auto;
}

.video {
  width: 80%;
}
